form {
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    max-width: 300px;
    margin: auto;
    padding: 20px 60px 40px 60px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.141);
}

form h1 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

form div {
    margin-bottom: 10px;
}

form input {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    padding: 7px 0px 7px 0px;
    background-color: rgb(216, 211, 211);     
}

form button {
    width: 100%;
    color: white;
    margin-top: 20px;
    padding: 7px 0px 7px 0px;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
}

form button:hover {
    background-color: rgb(28, 59, 59);
}

.error {
    color: red;
}

.response {
    color: rgb(3, 177, 3);
}

button:disabled {
    pointer-events: none;
    opacity: 0.4;
}

main {
    padding-top: 50px;
}