<div class="buttons">
    <button mat-raised-button class = "publish-button" color = "primary" (click)="createOrUpdateQuestions(newQuestions)"> Zapisz </button>
    <button mat-raised-button class = "back-button" (click)="openExitDialog(subjectId)"> Wróć do tematów </button>
</div>
<mat-card class="card" *ngFor="let newQuestion of newQuestions; let j = index">
    <h3>Pytanie {{j + 1}}</h3>

    <mat-form-field class="input" appearance="outline">
        <mat-label>Pytanie</mat-label>
        <input matInput [(ngModel)] = "newQuestion.displayName"/>
    </mat-form-field>
    <span class="counter">
        {{newQuestion.displayName.length || 0}} / 150
    </span>

    <mat-divider></mat-divider>

    <div class="answers">
        <div class="section-title">
            <h4>Odpowiedzi</h4>
            <span class="helper">Uzupełnij wszystkie pola</span>
        </div>
    </div>

    <div class = "answer-row" *ngFor="let answer of newQuestion.answers; let i = index">
        <mat-form-field  class = "input" appearance="outline">
            <mat-label [ngClass]="{'correct-answer-backround': answer.isCorrect}">Odpowiedź {{i + 1}}</mat-label>
            <input matInput [(ngModel)] = "answer.displayName">
        </mat-form-field>
        <span class="counter">
            {{answer.displayName.length || 0}} / 200
        </span>
    </div>

    <mat-divider></mat-divider>

    <div>
        <h3 class="correct-title">Wskaż dobrą odpowiedź</h3>
    </div>

        <mat-radio-group class="group-answers"
        [(ngModel)] = "newQuestion.indexCorrectAnswer"
        (change)="correctAnswer(j, newQuestion.indexCorrectAnswer)"
         >
            <mat-radio-button class="radio-button"
                *ngFor="let answer of newQuestion.answers; let i = index"
                [value] = "i">
                Odpowiedź {{i + 1}}
            </mat-radio-button>
        </mat-radio-group>

</mat-card>