header {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 12px 14px;
    align-items: center;
}

h3 {
    grid-column-start: 2;
    text-align: center;
    color: white;
    margin: 0;
}

header div {
    display: flex;
    align-self: center;
    justify-content: right;
    color: white;
}

button {
    cursor: pointer;
    border: 0;
    border-left: 1px solid rgb(140, 138, 138);
    border-right: 1px solid rgb(140, 138, 138);
    background-color: black;
    margin-right: 20px;
    font-size: 20px;
}


