* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 65px;
    background: #021334;
    padding: 0 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    height: 100%;
}

.logo img {
    width: 35px;
    height: 35px;
    font-size: 35px;
}

h1 {
    white-space: nowrap;
    color: white;
    margin: 0;   
}

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
}


.user-button-mobile,
.user-logout,
.user-button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 100%;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.user-logout {
  border-left: 1px solid #334155;
  padding-left: 24px;
  margin-left: 24px;
}
.user-button mat-icon,
.user-button span,
.user-button-mobile span, 
.user-button-mobile mat-icon,
.user-logout mat-icon,
.user-logout span {
    color: white;
}

.user-icon {
    width: 30px !important;
    height: 30px !important;
    font-size: 30px !important;
}

.user-button-mobile {
    display: none;
}


@media (max-width: 768px) {
    .navbar {
        height: 60px;
        padding: 0 0 0 15px;
    }

    .user-button {
        display: none;
    }

    .email {
        display: flex;
        min-width: 120px;
        cursor: default;
    }

    .email:hover {
        background: white;
    }

    .user-logout-mobile {
        min-width: 120px;
    }

    .user-logout {
        display: none;
    }

    .user-button-mobile {
        display: flex;
    }
}
