<div mat-dialog-content>
  <h1 mat-dialog-title >Edytuj temat</h1>
  <mat-form-field class="input" appearance="outline">
    <mat-label>Nazwa teamtu</mat-label>
    <input matInput
      [(ngModel)] = "displayName"
      maxlength="50"
      >
  </mat-form-field>
  <span class="counter">
  {{ displayName.length || 0 }} / 50
  </span>
  <div mat-dialog-actions class="buttons">
    <button mat-raised-button [mat-dialog-close] = "false">Anuluj</button>
    <button mat-raised-button color = "primary" [mat-dialog-close] = "displayName" [disabled]="!displayName">Zapisz</button>
  </div>
</div>