form {
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    max-width: 300px;
    margin: auto;
    padding: 20px 60px 40px 60px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.141);
}

form h1 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

form div {
    margin-bottom: 10px;
}

.email-input {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    padding: 9px 0px 9px 0px;
    background-color: rgb(216, 211, 211);     
}

.login-and-registration-button {
    width: 100%;
    color: white;
    margin-top: 20px;
    padding: 7px 0px 7px 0px;
    background-color: black;
    cursor: pointer;
    border-radius: 10px; 
}

.login-and-registration-button:hover{
    background-color: rgb(28, 59, 59);
}

.error {
    color: red;
}

.mat-icon {
    height: 18px;
    width: 24px;
    font-size: 18px;
    cursor: pointer;
}

.div-visibility {
    display: flex;
    align-items: center;
    width: 100%; 
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgb(216, 211, 211);
}

.password-input {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 9px 0px 9px 0px;
    background-color: rgb(216, 211, 211);     
}

main {
    padding-top: 50px;
    padding-left: 6px;
    padding-right: 6px;
}

.goolge-button {
    border-radius: 10px; 
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.google-icon {
    margin: 4px 4px 4px 4px;
    width: 20px;
}

span {
    display: flex;
    align-items: center;
}

.goolge-button:hover {
    background-color: rgba(202, 202, 202, 0.841);
}

.demo-link {
    display: block;
    margin-top: 30px;
    text-align: center;
    color: rgb(28, 59, 59);
    text-decoration: underline;
    font-size: 32px;
    cursor: pointer;
}

.demo-link:hover {
    color: black;
}