main, header {
    text-align: center;
}

h1, li {
    text-align: center;
}


li {
    margin-bottom: 20px;
    padding: 7px 0px 7px 0px;
    border: 1px solid green;
    text-decoration: none;
    list-style: none;
    border-radius: 25px;
}
a {
    text-decoration: none;
    cursor: pointer;
}

li:hover {
    color: white;
    background-color: green;

}
ul {
    padding: 0;
    margin-bottom: 300px;
    margin-top: 50px;
    max-width: 300px;
    margin: auto;

}

button {
    width: 100%;
    max-width: 300px;
    padding: 7px 0px 7px 0px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 10px; 
}

button:hover {
    background-color: rgb(28, 59, 59);
}