<header>
    <h1>Kursy jęzków programowania </h1>
</header>
<main>
    <section>
        <ul>
            <li *ngFor="let course of courses">
                <div class="course-wrapper"> 
                    <button
                        mat-raised-button
                        class="course-button"
                        (click)="nextTemplete(course.id)" 
                    >
                        {{ course.displayName }}
                    </button>
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        class="more-horiz"                  
                        (click)="$event.stopPropagation()"  
                    >
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEditDialog(course.id, course.displayName)">
                        <mat-icon>edit</mat-icon>
                        Edytuj
                    </button>
                    <button mat-menu-item (click)="openDeleteDialog(course.id)">
                        <mat-icon>delete</mat-icon>
                        Usuń
                    </button>
                </mat-menu>  
            </li>
            <button mat-flat-button class="create-button" (click)="openAddDialog()">
                <mat-icon>add</mat-icon>
                 Dodaj kurs
            </button>
        </ul>
    </section>
</main>
