main, header {
    text-align: center;
}

h1, li {
    text-align: center;
}

li {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid green;
    text-decoration: none;
    list-style: none;
    border-radius: 25px;
}

a, input {
    font: inherit;  
    display:inline-block;
    text-decoration: none;
    width: 100%;
    border: none;
    text-align: center;
    border-radius: 25px;
    padding: 7px 0px 7px 0px;
}

a {
    cursor: pointer;
}

ul {
    padding: 0;
    margin-bottom: 300px;
    margin-top: 50px;
    max-width: 300px;
    margin: auto;

}

.log-out {
    width: 100%;
    max-width: 300px;
    padding: 7px 0px 7px 0px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 10px; 
}

.log-out:hover {
    background-color: rgb(28, 59, 59);
}

span {
    padding: 7px 0px 7px 0px;
    position: absolute;
    right: -70px;
    opacity: 0;
}
span button {
    background-color: white;
    padding: auto;
    border: 0;
    cursor: pointer;
}

li:hover {
    color: white;
    background-color: green;
}

li:hover span {
    opacity: 1;
}