<header>
    <h1>Kursy jęzków programowania </h1>
</header>
<main>
    <section>
        <ul>
            <li *ngFor="let course of courses">
                <a *ngIf = "editingId != course.id" (click)="nextTemplete(course.id)"> {{course.displayName}} </a>
                <input class="input-add"
                *ngIf = "editingId == course.id"
                [(ngModel)] = "course.displayName"
                (keyup.enter)="updateCourse(course.id, course.displayName)"
                (blur)="escapeFromEditAndCreate()"
                (keyup.escape)="escapeFromEditAndCreate()"
                />
                <span>
                    <button (click)="editingId = course.id">✏️</button>
                    <button (click)="deleteCourseById(course.id)">🗑️</button>
                </span>
            </li>
            <input class="input-add" 
            *ngIf="addCourse"
            [(ngModel)] = "newCourse.displayName"
            (keyup.enter)="createCourse(newCourse.displayName)"
            (blur)="escapeFromEditAndCreate()"
            (keyup.escape)="escapeFromEditAndCreate()"
            >
            <button (click)="addCourse = true"> Dodaj kurs</button>
        </ul>
    </section>
</main>