<header>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
</header>
<main>
    <h2>{{questions[numberQuestion].displayName}}</h2>
    <ul *ngFor="let answer of questions[numberQuestion].answers">
        <li>
            <form>
                <input type="radio" name="a" [value] = "answer" [(ngModel)] = "checkAnswer">
                {{answer.displayName}}
            </form>
        </li>
    </ul>
    <div>
        <button class="button1" (click)="beforeQuestion()">
            Wstecz
        </button>
    <div>{{numberQuestion}}/10</div>
        <button class="button1"  (click)="nextQuestion()">
            Dalej
        </button>
    </div>
    <div>{{checkAnswer?.correct}}</div>
</main>
