<header>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
    <div class = "point"></div>
</header>
<main>
    <h2>Co możemy dziedziczyć w Javie?</h2>
    <ul>
        <li>
            <input type="radio" name="a" value = "Metody">
            Metody
        </li>
        <li>
            <input type="radio" name="a" value = "Klasy">
            Klasy
        </li>
        <li>
            <input type="radio" name="a" value = "Interfejsy">
            Interfejsy
        </li>
        <li>
            <input type="radio" name = "a" value="Enumy">
            Enumy
        </li>
    </ul>
    <div>
        <button class="button1">
            Wstecz
        </button>
        <button class="button1">
            Dalej
        </button>
    </div>
</main>
