<header>
    <div class="back-div">
        <button mat-icon-button (click)="backToCourses()" aria-label="Wróć do kursów">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>{{course.displayName}}</h2>
    </div>

    <button mat-flat-button color="primary" (click)="openAddDialog()" class="button-back">
        <mat-icon>add</mat-icon>
        Dodaj temat
    </button>
</header>

<main>
    <section>
        <h2>O kursie</h2>
        <mat-card mat-dialog-content>
            <div class="card-div">
                <div class= "image-div">
                    <img [src]="course.imageUrl" >
                </div>
                <div class="content-div">
                    <h3>Opis</h3>
                    <p>{{course.description}}</p>
                    <h3>Dostępność</h3>
                    <div class="status-div" [ngClass]="shared ? 'public-div' : 'private-div' ">
                        <mat-icon class="icon-mat">{{shared ? 'lock_open' : 'lock'}}</mat-icon>
                        <p>{{shared ? 'Publiczny' : 'Prywatny'}}</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </section>
    <section>
        <h2>Tematy</h2>
        <ul>
            <li *ngFor="let subject of subjects" >
                <div class="subject-wrapper">
                    <button 
                        mat-raised-button 
                        class="subject-button" 
                        [ngClass]="color(subject.id)" 
                        (click)="startAnswerSession(subject.id)">
                        {{subject.displayName}} 
                    </button>

                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        class="more-horiz"                  
                        (click)="$event.stopPropagation();"  
                    >

                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="goToCreateQuestion(subject.id)">
                        <mat-icon>edit</mat-icon>
                        Edytuj
                    </button> 

                    <button mat-menu-item (click)="openDeleteDialog(subject.id)">
                        <mat-icon>delete</mat-icon>
                        Usuń
                    </button>             
                </mat-menu>                 
            </li>
        </ul>
    </section>
</main>
