<header>
    <h1>Kurs {{titleFromCourse?.displayName}} - podstawy</h1>
</header>
<main>
    <section>
        <ul>
            <li *ngFor="let subject of subjects" >
                <a [ngClass]="color(subject.id)" (click)="startAnswerSessionOrCreateQuestions(subject.id)">{{subject.displayName}} </a>
            </li>
            <li *ngIf="subjects.length == 0 || addSubject">  
                <input
                [(ngModel)] = "newSubject.displayName"
                (keyup.enter)="createSubject(newSubject.displayName, courseId)"
                (blur)="escapeFromInput()"
                (keyup.escape)="escapeFromInput()"
            >
            </li>
        </ul>
        <button class="add-subject" (click)="addSubject = true">Dodaj temat</button>
    </section>
    <section>
        <button class="come-to-course" (click)="backToCourses()"> Kursy </button>
    </section>
</main>
