<div class="buttons">
    <button mat-raised-button class = "publish-button" color = "primary" (click)="updateQuestions(questions)"> Edytuj zestaw pytań </button>
    <button mat-raised-button class = "back-button" (click)="backToCourses()"> Wróć do tematów </button>
</div>


<mat-card class="card" *ngFor="let question of questions; let j = index">

    <div class="div-global">
        <h1>{{question.displayName}}</h1>
        <button mat-icon-button (click)="openEditQuestionDialog(j, question.displayName)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div class="div-global" *ngFor="let answer of question.answers; let i = index">
        <div >{{answer.displayName}}</div>
        <button mat-icon-button (click)="openEditAnswerDialog(j, i, answer.displayName)">
            <mat-icon class="icon">edit</mat-icon>
        </button>
    </div>

</mat-card>
