.card {
    max-width: 720px;
    margin: 25px auto;
    padding: 18px 18px 12px 12px;
    border-radius: 12px;
    border-left: 6px solid #3f51b5;
}

.back-button, .publish-button  {
    min-width: 220px;
}

.buttons {
    margin: 40px auto;
    display: flex;
    justify-content:space-around;
    max-width: 720px;
}


.div-global {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    font-size: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .buttons {
        margin: 20px auto;
        display: grid;
        justify-content:space-around;
        max-width: 720px;
    }

    .back-button  {
        margin-top: 15px;
    }
}